In [1]:
#Data wrangling AAC data-set
import pandas as pd
import numpy as np
import datetime
from dateutil.relativedelta import relativedelta
from datetime import date
import matplotlib.pyplot as plt

In [2]:
aac = pd.read_csv("../Documents/aac_intakes_outcomes.csv", usecols=['outcome_datetime', 'intake_datetime', 'outcome_type', 'animal_type', 'breed', 'date_of_birth'])
aac.head()

,date_of_birth,outcome_type,outcome_datetime,animal_type,breed,intake_datetime
0,2007-07-09 00:00:00,Return to Owner,2017-12-07 14:07:00,Dog,Spinone Italiano Mix,2017-12-07 00:00:00
1,2007-07-09 00:00:00,Return to Owner,2014-12-20 16:35:00,Dog,Spinone Italiano Mix,2014-12-19 10:21:00
2,2007-07-09 00:00:00,Return to Owner,2014-03-08 17:10:00,Dog,Spinone Italiano Mix,2014-03-07 14:26:00
3,2004-04-02 00:00:00,Transfer,2014-04-07 15:12:00,Dog,Dachshund,2014-04-02 15:55:00
4,1997-10-16 00:00:00,Return to Owner,2013-11-16 11:54:00,Dog,Shetland Sheepdog,2013-11-16 09:02:00

In [3]:
aac['outcome_datetime'] = pd.to_datetime(aac['outcome_datetime'])
aac['intake_datetime'] = pd.to_datetime(aac['intake_datetime'])

In [4]:
aac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79672 entries, 0 to 79671
Data columns (total 6 columns):
date_of_birth       79672 non-null object
outcome_type        79662 non-null object
outcome_datetime    79672 non-null datetime64[ns]
animal_type         79672 non-null object
breed               79672 non-null object
intake_datetime     79672 non-null datetime64[ns]
dtypes: datetime64[ns](2), object(4)
memory usage: 3.6+ MB

In [5]:
#created a columne to show length of stay at shelter
aac['shelter_length'] = (aac['outcome_datetime'] - aac['intake_datetime'])
aac.head()

,date_of_birth,outcome_type,outcome_datetime,animal_type,breed,intake_datetime,shelter_length
0,2007-07-09 00:00:00,Return to Owner,2017-12-07 14:07:00,Dog,Spinone Italiano Mix,2017-12-07 00:00:00,0 days 14:07:00
1,2007-07-09 00:00:00,Return to Owner,2014-12-20 16:35:00,Dog,Spinone Italiano Mix,2014-12-19 10:21:00,1 days 06:14:00
2,2007-07-09 00:00:00,Return to Owner,2014-03-08 17:10:00,Dog,Spinone Italiano Mix,2014-03-07 14:26:00,1 days 02:44:00
3,2004-04-02 00:00:00,Transfer,2014-04-07 15:12:00,Dog,Dachshund,2014-04-02 15:55:00,4 days 23:17:00
4,1997-10-16 00:00:00,Return to Owner,2013-11-16 11:54:00,Dog,Shetland Sheepdog,2013-11-16 09:02:00,0 days 02:52:00

In [6]:
#removed return to owner as this implies dog ran away and was sent to shelter as lost dog(null value)
aac = aac[aac.outcome_type != 'Return to Owner']
aac.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64881 entries, 3 to 79671
Data columns (total 7 columns):
date_of_birth       64881 non-null object
outcome_type        64871 non-null object
outcome_datetime    64881 non-null datetime64[ns]
animal_type         64881 non-null object
breed               64881 non-null object
intake_datetime     64881 non-null datetime64[ns]
shelter_length      64881 non-null timedelta64[ns]
dtypes: datetime64[ns](2), object(4), timedelta64[ns](1)
memory usage: 4.0+ MB

In [9]:
aac['shelter_length'] = aac['shelter_length'].astype('timedelta64[W]')

In [10]:
aac['shelter_length'] = aac['shelter_length'] / np.timedelta64(1,'W')

In [ ]:
#rounded the shelther length column to weeks for comparison but may need to change to month - lowest is 0 and highest is 181
aac.head()

In [11]:
aac['date_of_birth'] = pd.to_datetime(aac['date_of_birth'])
aac['age_of_outcome'] = (aac['outcome_datetime'] - aac['date_of_birth'])

In [12]:
aac.head()

,date_of_birth,outcome_type,outcome_datetime,animal_type,breed,intake_datetime,shelter_length,age_of_outcome
3,2004-04-02,Transfer,2014-04-07 15:12:00,Dog,Dachshund,2014-04-02 15:55:00,0.0,3657 days 15:12:00
11,2000-01-21,Transfer,2014-12-22 15:23:00,Cat,American Shorthair Mix,2014-12-08 12:30:00,2.0,5449 days 15:23:00
12,1997-10-03,Adoption,2013-11-22 09:44:00,Dog,Dachshund Mix,2013-10-03 15:47:00,7.0,5894 days 09:44:00
13,2000-04-27,Euthanasia,2015-02-17 16:25:00,Dog,Border Collie Mix,2015-02-17 13:17:00,0.0,5409 days 16:25:00
14,1999-06-01,Adoption,2016-10-07 12:34:00,Dog,Chihuahua Shorthair,2016-09-28 12:05:00,1.0,6338 days 12:34:00

In [15]:
#calculating the age of the animal at outcome so that this can be sorted on - calculating based on years
aac['age_of_outcome'] = aac['age_of_outcome'].astype('timedelta64[Y]')

In [16]:
aac['age_of_outcome'] = aac['age_of_outcome'] / np.timedelta64(1,'Y')

In [17]:
aac.head()

,date_of_birth,outcome_type,outcome_datetime,animal_type,breed,intake_datetime,shelter_length,age_of_outcome
3,2004-04-02,Transfer,2014-04-07 15:12:00,Dog,Dachshund,2014-04-02 15:55:00,0.0,10.0
11,2000-01-21,Transfer,2014-12-22 15:23:00,Cat,American Shorthair Mix,2014-12-08 12:30:00,2.0,14.0
12,1997-10-03,Adoption,2013-11-22 09:44:00,Dog,Dachshund Mix,2013-10-03 15:47:00,7.0,16.0
13,2000-04-27,Euthanasia,2015-02-17 16:25:00,Dog,Border Collie Mix,2015-02-17 13:17:00,0.0,14.0
14,1999-06-01,Adoption,2016-10-07 12:34:00,Dog,Chihuahua Shorthair,2016-09-28 12:05:00,1.0,17.0

In [19]:
aac = aac.sort_values(['age_of_outcome'])
aac.head()

,date_of_birth,outcome_type,outcome_datetime,animal_type,breed,intake_datetime,shelter_length,age_of_outcome
66636,2017-07-01,Euthanasia,2017-05-12 16:43:00,Cat,Domestic Shorthair Mix,2017-05-12 15:50:00,0.0,-1.0
35969,2015-07-06,Transfer,2015-07-05 14:46:00,Cat,Domestic Shorthair Mix,2015-07-05 13:25:00,0.0,-1.0
57630,2016-10-28,Transfer,2016-10-04 15:13:00,Cat,Domestic Shorthair Mix,2016-10-04 12:49:00,0.0,-1.0
68511,2014-12-12,Adoption,2014-09-10 17:29:00,Dog,Border Collie Mix,2014-09-09 11:02:00,0.0,-1.0
32209,2015-08-29,Adoption,2015-05-24 17:01:00,Cat,Domestic Shorthair Mix,2015-05-12 12:37:00,1.0,-1.0

In [22]:
#removed ages that are -1 aprox 5 as most likely human error
aac = aac[aac.age_of_outcome != -1.0]
aac.head()

,date_of_birth,outcome_type,outcome_datetime,animal_type,breed,intake_datetime,shelter_length,age_of_outcome
16314,2014-03-13,Transfer,2014-06-15 17:02:00,Dog,Labrador Retriever/Catahoula,2014-06-13 18:06:00,0.0,0.0
70615,2017-06-16,Adoption,2017-08-31 09:34:00,Cat,Domestic Shorthair Mix,2017-07-22 16:29:00,5.0,0.0
70616,2017-06-16,Adoption,2017-09-07 14:09:00,Cat,Domestic Shorthair Mix,2017-07-22 16:29:00,6.0,0.0
16311,2014-04-13,Transfer,2014-06-19 17:11:00,Dog,Labrador Retriever Mix,2014-06-13 17:39:00,0.0,0.0
16309,2014-04-13,Transfer,2014-06-19 17:09:00,Dog,Labrador Retriever Mix,2014-06-13 17:39:00,0.0,0.0

In [23]:
aac.tail()

,date_of_birth,outcome_type,outcome_datetime,animal_type,breed,intake_datetime,shelter_length,age_of_outcome
68455,1997-06-11,Euthanasia,2017-06-12 11:04:00,Cat,Domestic Shorthair Mix,2017-06-11 11:16:00,0.0,20.0
23051,1994-10-11,Euthanasia,2014-10-11 17:58:00,Cat,Domestic Medium Hair Mix,2014-10-11 17:26:00,0.0,20.0
60535,1996-12-11,Transfer,2016-12-16 00:00:00,Bird,Cockatoo,2016-12-11 14:55:00,0.0,20.0
63649,1995-03-06,Euthanasia,2017-03-06 17:09:00,Cat,Domestic Shorthair Mix,2017-03-06 16:31:00,0.0,22.0
60536,1991-12-11,Transfer,2016-12-16 00:00:00,Bird,Cockatoo,2016-12-11 14:55:00,0.0,25.0

In [24]:
#checking for any null values - see that outcome_type contains some
aac.isna().any()

date_of_birth       False
outcome_type         True
outcome_datetime    False
animal_type         False
breed               False
intake_datetime     False
shelter_length      False
age_of_outcome      False
dtype: bool

In [32]:
#used sort_values to isolate the Nan values
aac['outcome_type'].isna().sort_values().tail(20)

39256    False
39255    False
39254    False
39253    False
39252    False
39134    False
39135    False
63384    False
63356    False
39141    False
44097     True
14583     True
20020     True
71339     True
59034     True
63150     True
71335     True
71341     True
9016      True
11057     True
Name: outcome_type, dtype: bool

In [41]:
aac.loc[11057]

date_of_birth       2014-03-09 00:00:00
outcome_type                        NaN
outcome_datetime    2014-03-09 18:15:00
animal_type                       Other
breed                           Bat Mix
intake_datetime     2014-03-09 16:38:00
shelter_length                        0
age_of_outcome                        0
Name: 11057, dtype: object

In [47]:
#since only 10 entries had Nan values, I decided to drop, especially since entries seemed inconsistent upon reviewing
aac = aac.dropna(subset = ['outcome_type'])

In [48]:
aac.isna().any()

date_of_birth       False
outcome_type        False
outcome_datetime    False
animal_type         False
breed               False
intake_datetime     False
shelter_length      False
age_of_outcome      False
dtype: bool

In [68]:
#noticed that animal type contained Other and Bird, which was not useful to this problem. I excluded them so that data will only reflect Cats and dogs
aac = aac[aac.animal_type != 'Other']
aac = aac[aac.animal_type != 'Bird']
aac.head()

,date_of_birth,outcome_type,outcome_datetime,animal_type,breed,intake_datetime,shelter_length,age_of_outcome
16314,2014-03-13,Transfer,2014-06-15 17:02:00,Dog,Labrador Retriever/Catahoula,2014-06-13 18:06:00,0.0,0.0
70615,2017-06-16,Adoption,2017-08-31 09:34:00,Cat,Domestic Shorthair Mix,2017-07-22 16:29:00,5.0,0.0
70616,2017-06-16,Adoption,2017-09-07 14:09:00,Cat,Domestic Shorthair Mix,2017-07-22 16:29:00,6.0,0.0
16311,2014-04-13,Transfer,2014-06-19 17:11:00,Dog,Labrador Retriever Mix,2014-06-13 17:39:00,0.0,0.0
16309,2014-04-13,Transfer,2014-06-19 17:09:00,Dog,Labrador Retriever Mix,2014-06-13 17:39:00,0.0,0.0